[submodule "submodules/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-polyglot"]
	path = vim/.vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "submodules/tabular"]
	path = vim/.vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "submodules/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/vim-vinegar"]
	path = vim/.vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "submodules/seoul256.vim"]
	path = vim/.vim/pack/plugins/start/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "submodules/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "submodules/vim-eunuch"]
	path = vim/.vim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "submodules/vim-repeat"]
	path = vim/.vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "submodules/vim-lsp"]
	path = vim/.vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "submodules/vim-lsp-settings"]
	path = vim/.vim/pack/plugins/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/.vim/pack/plugins/start/asyncomplete.vim"]
	path = vim/.vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/.vim/pack/plugins/start/asyncomplete-lsp.vim"]
	path = vim/.vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-choosewin"]
	path = vim/.vim/pack/plugins/start/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
