[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "submodules/vim-polyglot"]
	path = submodules/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "submodules/tabular"]
	path = submodules/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "submodules/fzf.vim"]
	path = submodules/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "submodules/vim-vinegar"]
	path = submodules/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "submodules/vim-ttcn"]
	path = submodules/vim-ttcn
	url = https://github.com/gustafj/vim-ttcn.git
